---
title: Andrew Bauman
permalink: /es-ES/
layout: default
root: true
has_open_heart: true
---

{% assign hour = site.time | date: "%H" | plus: 0 %}
{% assign minutes = site.time | date: "%M" %}
{% if hour == 1 %}
  {% assign prefix = "es la" %}
{% else %}
  {% assign prefix = "son las" %}
{% endif %}

{% assign day = site.recent_date | date: "%-d" %}
{% assign month_number = site.recent_date | date: "%m" %}

{% case month_number %}
  {% when "01" %} {% assign month = "enero" %}
  {% when "02" %} {% assign month = "febrero" %}
  {% when "03" %} {% assign month = "marzo" %}
  {% when "04" %} {% assign month = "abril" %}
  {% when "05" %} {% assign month = "mayo" %}
  {% when "06" %} {% assign month = "junio" %}
  {% when "07" %} {% assign month = "julio" %}
  {% when "08" %} {% assign month = "agosto" %}
  {% when "09" %} {% assign month = "septiembre" %}
  {% when "10" %} {% assign month = "octubre" %}
  {% when "11" %} {% assign month = "noviembre" %}
  {% when "12" %} {% assign month = "diciembre" %}
{% endcase %}

<p>
  Technical Project Manager que automatiza todo lo que no debería ser manual. Me manejo con Python, documentos de requisitos, y cartas de bares.
</p>
<p>
  Afincado en Boston, Massachusetts<span class="time" data-timestamp-text=", (donde ahora {{ prefix }} {time})"></span>, criado en Nueva York, y a menudo en algún punto intermedio.
<p>
  A partir del {{ day }} de {{ month }}, montándome la infraestructura en casa, escribiendo scripts, y currándome mañanas más relajadas.
</p>

<nav aria-label="Profesión">
  <a href="{% link _pages/testimonials.md %}">Testimonios</a><hr class="inline-hr">
  <a href="https://www.linkedin.com/in/drewbauman/" target="_blank" rel="me">LinkedIn</a>
</nav>

<br>

<nav aria-label="Contenido adicional">
  <a href="{% link _pages/blogroll.md %}">Sigiendo</a><hr class="inline-hr">
  <a href="{% link _pages/pet-projects.md %}">Proyectos Personales</a>
</nav>
<nav aria-label="Social">
  <a href="https://github.com/andrewbauman1" target="_blank" rel="me">GitHub</a><hr class="inline-hr">
  <a href="https://www.pinterest.com/drewsiph_/" target="_blank" rel="me">Pinterest</a><hr class="inline-hr">
  <a href="mailto:andrewbauman001@gmail.com">Email</a>
</nav>

<div class="lang">
  <a href="/" srclang="en-US">English</a><a href="/es-ES/" srclang="es-ES" aria-current="true">Español</a>
</div>

<hr class="hr">

<h2 class="normal-heading">Historias</h2> <a href="/stories.xml" class="styled-link">RSS</a><a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">¿Qué son?</a>

<div class="stories">
  {% include stories.html lang="es-ES" %}
</div>

<hr class="hr">

<h2 class="normal-heading">Fotos</h2><a href="/albums" class="styled-link">Ver álbumes</a> <a href="/photos" class="styled-link">Todas las fotos</a> <a href="/photos.xml" class="styled-link">RSS</a>

<h3 class="monospace">Destacadas</h3>
<div class="photos">
{% assign featured_photos = site.data.photos | where_exp: "photo", "photo.meta.featured == true" %}
{% for photo in featured_photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<h3 class="monospace">Más Recientes</h3>
<div class="photos">
{% assign recent_photos = site.data.photos | reverse | slice: 0, 7 %}
{% for photo in recent_photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

<h2 class="normal-heading">Notas sueltas</h2><a href="/notes" class="styled-link">Ver los recientes</a> <a href="/notes.xml" class="styled-link">RSS</a>
{% assign note = site.notes | last %}
<div class="note" style="margin-top: 0.5em;">
  <div class="general-actions">
    <h2 class="text">
      <a href="{{ note.url }}" class="monospace">{{ note.date | date: "%b %e, %Y" }}</a>
    </h2>
    <button type="button" class="share-button monospace" data-share-url="{{ note.url }}" hidden>Compartir</button>
    <open-heart class="text-open-heart monospace" href="https://openheart.andrewbauman001.workers.dev/?id={{ note.url }}" emoji="❤️" aria-labelledby="like-prompt">
      <span class="on">Me gusta ♥︎.</span><span class="off">¿Te gusta?</span>
    </open-heart>
  </div>
  <div class="note-content" lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">
    {% for tag in note.tags %}
      <span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>
    {% endfor %}
  </div>
</div>


<hr class="hr">

<div>
<h2 class="normal-heading">Publicaciones</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time class="monospace" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y/%m/%d" }}</time></li>
{% endfor %}
</ul>
</div>
